.section + .section {
  margin-top: 10px;
}

.sectionTitle {
  margin-bottom: 2px;
  color: var(--darkGray);
  text-transform: uppercase;
  font-weight: bold;
  font-size: $smallFontSize;
}

.titles {
  margin: 0;
  padding-left: 15px;
}

.alternateTitle {
  white-space: nowrap;
}

.comment {
  color: var(--darkGray);
  font-size: var(--smallFontSize);
}
